

{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HR TOOLS</title>
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'accounts/css/style.css' %}">
</head>
<body>
    <div class="main">
        <div class="login-card">
            <h2>Set New Password</h2>
            <form method="POST">
                {% csrf_token %}
                <input type="password" name="new_password1" placeholder="New Password *" required>
                <input type="password" name="new_password2" placeholder="Confirm Password *" required style="margin-top:12px;">
                <button type="submit" class="btn-login">Save Password</button>
            </form>
        </div>
    </div>
</body>
</html>
