

{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HR TOOLS</title>
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'accounts/css/style.css' %}">
</head>

<body>

   
    <!-- Main -->
    <div class="main">
        <h1 class="welcome-title">Welcome</h1>

        <div class="login-card">
            <h2>Reset Password</h2>

            <form method="POST" action="" autocomplete="off">
                {% csrf_token %}

                <input type="text" id="username" name="email" placeholder="Email *" autocomplete="off" required>

                
                <button type="submit" class="btn-login">Reset Password</button>

                {% if message %}
                    <p class="message">{{ message }}</p>
                {% endif %}

            </form>
        </div>
    </div>

   